x64/Debug/SegmentBasedBA.pdb
x64/Debug/SegmentBasedBA.lib
x64/Debug/SegmentBasedBA.ilk
x64/Debug/SegmentBasedBA.exp
x64/Debug/SegmentBasedBA.exe
x64/Release/SegmentBasedBA.pdb
x64/Release/SegmentBasedBA.lib
x64/Release/SegmentBasedBA.exp
x64/Release/SegmentBasedBA.exe
SegmentBasedBA/x64/Release/SegmentBasedBA.tlog/unsuccessfulbuild
SegmentBasedBA/x64/
ipch/
.vs/
SegmentBasedBA.v12.suo
SegmentBasedBA.sln.DotSettings.user
SegmentBasedBA.sdf
SegmentBasedBA.VC.db
SegmentBasedBA.VC.VC.opendb
Data/Indoor/1/v1-Registered.acts
Data/Indoor/0/v0-Registered.acts
cmake-build-release/
cmake-build-debug/
.idea/
CMakeLists.txt~
CleanProject.bat~
build/
SegmentBasedBA.suo

.DS_Store
